apiVersion: apps/v1
kind: Deployment
metadata:
  name: password-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: password-service
  template:
    metadata:
      labels:
        app: password-service
    spec:
      containers:
        - name: password-service
          image: thsjowi/password:1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8084
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          
          env:
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db-port
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db-password
            - name: KAFKA_HOST
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: kafka-host
            - name: KAFKA_PORT
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: kafka-port
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: jwt-secret

---
apiVersion: v1
kind: Service
metadata:
  name: password-service
  labels:
    app: password-service
spec:
  selector:
    app: password-service
  ports:
    - name: http
      protocol: TCP
      port: 8084
      targetPort: 8084
  type: ClusterIP