ApiVersion: v1
kind: Service
metadata:
  name: discovery
  labels:
    app: discovery
spec:
  selector:
    app: discovery
  ports:
    - name: http
      protocol: TCP
      port: 8761         # port within the cluster
      targetPort: 8761    # container port
  type: ClusterIP
